<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="angular.min.js"></script>
	</head>
	<body >
		<div ng-app="myApp" ng-controller="myCtrl">
			<input type="text" ng-model="name" /><br/>
			<h1>{{greeting}}</h1>
			<button ng-click="sayHello()">点我</button>
		</div>
	</body>
	<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl",function($scope){
			$scope.name='张三a';
			$scope.sayHello = function(){ 
				$scope.greeting="你好"+$scope.name;
			};
		});
	</script>
</html>
