<!DOCTYPE html>
<html ng-app='myApp'ng-controller="myCtrl">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/angular.min.js"></script>
	</head>
	<body>
		<b>传统模式</b><br />
		姓：<input type="text" id="xing" /><br/>
		名：<input id="ming" />
		<p id="name">姓名是：</p> 
		<a href="#" id="button">输出姓名</a><br />
		<b>AngularJS模式</b><br />
		姓：<input ng-model="xing" /><br/>
		名：<input ng-model="ming"/>
		<p id="name">姓名是：{{xing +" "+ming}}</p> 
		<a href="#" ng-click="xing+''+ming">输出姓名</a><br />
	</body>
	<script>
		var xing = document.getElementById("xing");
		var ming = document.getElementById("ming");
		var button = document.getElementById("button");
		button.onclick = function(){
		var name = document.getElementById("name");
			name.innerHTML = xing.value+" "+ming.value;
		};
		//AngularJS点击事件
		var app = angular.module('myApp',[]);
		app.controller("myCtrl",function($scope){
			$scope.xing+" "+$scope.ming;
		});
	</script>
</html>
