/*cSS初始化*/
html,body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,span{
	margin:0;padding:0;
}
body{
	font:12px/1.5em "宋体",arial;
	color:#3c3c3c;
	background: url(../img/img.jpg) center top;
	width: 980;
	height: 680;
}
h1,h2,h3,h4,h5,h6{
	/*让h标题和body字体一样大*/
	font-size:100%;
}
img{
	border: 0;
	/*消除图片之间的间隔*/
	display: block;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
	color:#fff;
}
a:hover{
	text-decoration: underline;
}
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix{
	/*兼容ie6*/
	zoom: 1;
}
#header{
	width: 975px;
	height: 99px;
	background: pink;
	margin: 0 auto;
	padding: 20px 0 0 5px;

}
.logo{
	width: 200px; 
	height: 69px;
	background: url(../img/logo.png);
	text-indent: -9999em;
}
.logo a{
	height: 69px;
	/*a是内联元素，需要设置为block才能设置高度*/
	display: block;
}
/*.logo{
	padding-top: 69px;
	height: 0;
	width: 200px;
	background: url(../img/logo.png);
	overflow: hidden;
}*/
#nav{
	height: 60px;
	margin: 0 auto;
	width: 975px;
}
.nav-bd{
	height: 45px;
	background: grey;
}
.shadow{
	height: 15px;
	background: green;
}
.nav-left,.nav-right{
	width: 30px;
	height: 45px;
	background: blue;
	float: left;
}
.nav-right{
	float: right;
}
.nav-bd ul{
	width: 915px;
	background: orange;
	height: 45px;
	float: left;
	text-align: center;
}
.nav-bd ul a{
	font-size: 14px;
	font-weight: bold;
}
.nav-bd ul li{
	float: left;
	line-height: 45px;
	height: 45px;
	padding: 0 48px;
	background: url(../img/li-bg.png) no-repeat;
}
